{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Dimensionamentos de Perfis I Simétricos</h1>
        <form action="/resultado" method="POST">
            <fieldset>
                <div class="form-group">
                    <input type="text" class="form-control" name=momento id="momento" placeholder="kN/m³">
                </div>
                <br/>   
                <div class="form-group">
                    <input type="text" class="form-control" name=cortante id="cortante" placeholder="kN">
                </div>
                <br/>   
                <div class="form-group">
                    <input type="text" class="form-control" name=normalsd id="normalsd" placeholder="kN">
                </div>
                <br/>
                <div class="form-group">
                    <input type="text" class="form-control" name=lb id="lb" placeholder="Comprimento(cm)">
                </div>
                <br/>
                <div class="form-group">
                    <input type="text" class="form-control" name=kx id="kx" placeholder="Kx">
                </div>
                <br/>
                <div class="form-group">
                    <input type="text" class="form-control" name=ky id="ky" placeholder="Ky">
                </div>
                <br/>
                <div class="form-group">
                    <input type="text" class="form-control" name=kz id="kz" placeholder="Kz">
                <br/>   
                <div class="button">
                    <button type="submit" class="btn btn-primary">Calcular</button>
                </div>
            </fieldset>
        </form>
    </div>    
{% endblock %}