{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h3>Dimensionamentos de Perfis I Simétricos</h3>
        <br/>
        <form action="/resultado" method="POST">
            <fieldset>
                <h4>Momento Fletor:</h4>
                <div class="form-group">
                    <input type="text" class="form-control" name=momento id="momento" placeholder="kN/m³">
                </div>
                <br/>
                <h4>Força Cortante:</h4>   
                <div class="form-group">
                    <input type="text" class="form-control" name=cortante id="cortante" placeholder="kN">
                </div>
                <br/>
                <h4>Força Normal:</h4>   
                <div class="form-group">
                    <input type="text" class="form-control" name=normalsd id="normalsd" placeholder="kN">
                </div>
                <br/>
                <h4>Comprimento Lb em centímetros:</h4>
                <div class="form-group">
                    <input type="text" class="form-control" name=lb id="lb" placeholder="Comprimento(cm)">
                </div>
                <br/>
                <h4>Comprimento Ly em centímetros:</h4>
                <div class="form-group">
                    <input type="text" class="form-control" name=lb id="lb" placeholder="Comprimento(cm)">
                </div>
                <br/>
                <h4>Comprimento Lx em centímetros:</h4>
                <div class="form-group">
                    <input type="text" class="form-control" name=lb id="lb" placeholder="Comprimento(cm)">
                </div>
                <br/>
                <h4>Coeficiente de Flambagem em x:</h4>
                <div class="form-group">
                    <input type="text" class="form-control" name=kx id="kx" placeholder="Kx">
                </div>
                <br/>
                <h4>Coeficiente de Flambagem em y:</h4>
                <div class="form-group">
                    <input type="text" class="form-control" name=ky id="ky" placeholder="Ky">
                </div>
                <br/>
                <h4>Coeficiente de Flambagem em z:</h4>
                <div class="form-group">
                    <input type="text" class="form-control" name=kz id="kz" placeholder="Kz">
                <br/>   
                <div class="button">
                    <button type="submit" class="btn btn-primary">Calcular</button>
                </div>
            </fieldset>
        </form>
    </div>    
{% endblock %}