{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Serginho</h1>
        <form action="/resultado" method="POST">
            <fieldset>
                <div class="form-group">
                    <input type="text" class="form-control" name=momento id="momento" placeholder="kN/m³">
                </div>
                <br/>   
                <div class="form-group">
                    <input type="text" class="form-control" name=cortante id="cortante" placeholder="kN">
                </div>
                <br/>   
                <div class="form-group">
                    <input type="text" class="form-control" name=axial id="axial" placeholder="kN">
                </div>
                <br/>   
                <div class="button">
                    <button type="submit" class="btn btn-primary">Calcular</button>
                </div>
            </fieldset>
        </form>
    </div>    
{% endblock %}