<div class="row">
  <div class="col-sm-6 col-md-4 mb">
    <div class="card">
      <h4 class="card-title">CARD 1</h4>
      <p class="card-text">loren</p>
      <a href="#" class="card-link">LINK</a>
    </div>
  </div>

  <div class="col-sm-6 col-md-4 mb">
    <div class="card">
      <h4 class="card-title">CARD 2</h4>
      <p class="card-text">loren</p>
      <a href="#" class="card-link">LINK</a>
    </div>
  </div>

  <div class="col-sm-12 col-md-4 mb">
    <div class="card">
      <h4 class="card-title">CARD 3</h4>
      <p class="card-text">loren</p>
      <a href="#" class="card-link">LINK</a>
    </div>
  </div>
</div>
